.areas {
  table-layout: fixed;
  width: 60%;
  font: 1em monospace;
  word-wrap: break-word;
}
.row-id {
  width: 10%;
}
.row-area {
  width: 70%;
}
.row-comments-number {
  width: 20%;
}
.areas th {
  background: darkblue;
  color: white;
}
.areas td, 
.areas th {
  text-align: left;
  padding: 5px 10px;
}
.areas tr:nth-child(even) {
  background: lightblue;
}
.areas tr:hover:nth-child(odd) {
  background: #f0eff9;
}
.areas tr:hover:nth-child(even) {
  background: #9ad1e2;
}
.areas td:nth-child(10) {
  text-align: center;
}

p {
  margin: .5em auto;
}
