form {
  margin: 0 auto;
  width: 440px;
  padding: 3em;
}

form div + div {
  margin-top: 1.5em;
}

label {
  display: inline-block;
  width: 110px;
  text-align: right;
  font: .9em monospace;
}

input, textarea, select {
  font: .9em serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  outline: none;
}

input:invalid, textarea:invalid {
  border: 2px solid red;
}

input:valid, textarea:valid {
  border: 2px solid #ccc;
}

textarea {
  vertical-align: top;
  height: 5em;
  outline: none;
}

.button {
  padding-left: 110px;
}

button {
  margin-left: .5em;
}

p {
  margin: .5em auto;
}
