.persons {
  table-layout: fixed;
  width: 100%;
  font: 1em monospace;
  word-wrap: break-word;
}
.row-id {
  width: 4%;
}
.row-firstname {
  width: 9%;
}
.row-lastname {
  width: 9%;
}
.row-middlename {
  width: 9%;
}
.row-region {
  width: 9%;
}
.row-city {
  width: 10%;
}
.row-phone {
  width: 12%;
}
.row-email {
  width: 12%;
}
.row-comment {
  width: 19%;
}
.row-delete {
  width: 7%;
}
.persons th {
  background: darkblue;
  color: white;
}
.persons td, 
.persons th {
  text-align: left;
  padding: 5px 10px;
}
.persons tr:nth-child(even) {
  background: lightblue;
}
.persons tr:hover:nth-child(odd) {
  background: #f0eff9;
}
.persons tr:hover:nth-child(even) {
  background: #9ad1e2;
}
.persons td:nth-child(10) {
  text-align: center;
}

p {
  margin: .5em auto;
}

label {
  font-style: italic;
}

.buttons-table {
  border: 2px solid red;
  border-spacing: 5px;
}

.buttons-table button {
  width: 70px;
}




