.persons {
  table-layout: fixed;
  width: 100%;
  font: 1em monospace;
  word-wrap: break-word;
}
.row-id {
  width: 5%;
}
.row-firstname {
  width: 10%;
}
.row-lastname {
  width: 10%;
}
.row-middlename {
  width: 10%;
}
.row-region {
  width: 10%;
}
.row-city {
  width: 10%;
}
.row-phone {
  width: 12%;
}
.row-email {
  width: 13%;
}
.row-comment {
  width: 20%;
}
.persons th {
  background: darkblue;
  color: white;
}
.persons td, 
.persons th {
  text-align: left;
  padding: 5px 10px;
}
.persons tr:nth-child(even) {
  background: lightblue;
}

p {
  margin: .5em auto;
}


