table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font: bold .9em sans-serif;
  background-color: #4CAF50;
  color: white;
}

td {
  font: 1em monospace;
}

td, th {
  border: 1px solid #a3a3a3;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
